{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "react-hook"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hook/recommended",
    "plugin:react/jsx-runtime"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-inferrable-types": 1,
    "@typescript-eslint/no-explicit-any": 1,
    "react-hook/exhaustive-deps": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }]
  }
}
